<section class="bg-zinc-900 p-20 rounded-xl my-4">
    <h2 class="text-5xl font-bold my-5">About Us</h2>
    <p class="text-zinc-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis itaque, doloribus perspiciatis dolor nam officiis adipisci necessitatibus, quod ad id corporis autem amet excepturi omnis ipsam facere eveniet nostrum, sint quo? Neque similique animi tempore minima reiciendis? Sapiente, exercitationem perferendis?</p>
</section>