<footer class="bg-zinc-900 p-10 text-center ">
    <div class="container mx-auto flex flex-col md:flex-row justify-between">

        <div>
            <h4>Site Map</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div>
            <h4>Social Media</h4>
            <ul>
                <li><a href="/">Facebook</a></li>
                <li><a href="/">Twitter</a></li>
                <li><a href="/">Instagram</a></li>
            </ul>
        </div>
        <div>
            <h4>Legal</h4>
            <ul>
                <li><a href="/">Privacy Policy</a></li>
                <li><a href="/">Terms of Service</a></li>
                <li><a href="/">Cookie Policy</a></li>
            </ul>
        </div>
    </div>
    </footer>